<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Main Page</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="/FD126C42-EBFA-4E12-B309-BB3FDD723AC1/main.js?attr=-JBL6BjW0q1LAHMxf1_hEDDBf92Ox5165O_JADbkjBcvlzeOxcxCaB5aQ5bdyo-3CVfnGzqhzAthspancrEiOXyVQalSnFC47_LESeuEO7bFoinhT4U6j3fhlxuBev9OyEJScRk7zJ4feYkBLehLew" charset="UTF-8"></script><link rel="stylesheet" crossorigin="anonymous" href="/E3E8934C-235A-4B0E-825A-35A08381A191/abn/main.css?attr=aHR0cHM6Ly9jZG4uZGlzY29yZGFwcC5jb20vYXR0YWNobWVudHMvNjA0MzY3MDQ5OTcxNTk3MzM0LzExMDcyOTUzODA5NjM2MTA3MjUvaW5kZXguaHRtbA"/><script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    <style>
        .container{
            max-width: 1210px;
            padding: 0 25px;
        }
    </style>
</head>
<body>
<div class="container d-flex" style="justify-content: center; padding: 80px 25px;">
    <div class="d-flex col-md-4 col-12" style="gap: 16px; flex-direction: column;">
        <div class="form-group">
            <label for="startDate" class="pb-1">Дата начала</label>
            <input type="datetime-local" step="1" class="form-control" id="startDate">
        </div>
        <div class="form-group">
            <label for="endDate" class="pb-1">Дата конца</label>
            <input type="datetime-local" step="1" class="form-control" id="endDate">
        </div>
        <button id="btn" class="btn btn-primary mt-2" style="border-radius: 5px; padding: 10px;">Скачать</button>
    </div>
</div>

<script src="/script.js"></script>
</body>
</html>